<ion-view view-title="Search">
  <ion-content>
    <form ng-submit='searchSong()'>
      <label class="item item-input">
         <i class="icon ion-search placeholder-icon"></i>
        <input class="form-control" placeholder ="Search" type="text" ng-model="search.query"/> </br>
      </label>
    </form>

    <ion-list>
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="song in queriedSongs" ng-click="queueSong(song)" type="item-text-wrap">
        <img ng-src="{{song.thumbnail}}">
        <h2>{{song.title}}</h2>
<!--         <h3>Play count: {{song.count}}</h3>
        <p>{{song.year}}</p> -->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>