<ion-view view-title="">
  <ion-content class="center">
    <div class="row">
      <div class="currentSong col-50 col-offset-25">
        <img src= "{{nowPlaying.thumbnail ? nowPlaying.thumbnail : './img/pika.png' }}" >
        <div class="col-100 ">
          <h4>{{nowPlaying.title}}</h4>
          <h5>Uploaded By: {{nowPlaying.uploader || 'anon'}}</h5>
        </div>
      </div>
    </div>
    <div class="login">
      <button class="button button-energized loginButton" ng-click="authUser()">GitHub Login</button>
    </div>
    <div class="soundcloud">
      <img class="soundcloud-icon" src="/../img/soundcloud.png">
      <h5 class="credits">Powered by SoundCloud</h5>
    </div>
  </ion-content>
</ion-view>
