/* Empty. Add your own CSS if you like */

.col img {
  width: 70%;
  margin-left: 15%;
  margin-top: 10%;
}

.col button{
	width: 50%;
	margin-left: 25%;
}

h1, .h1 {
  font-size: 20px;
  margin-bottom: 5px;
  }
}

@media (max-width: 550px) {
  h1, .h1 {
  font-size: 25px;
  margin-bottom: 5px;
  }
}

.bar.bar-stable .title {
  font-size: 28px;
  color: #455A64;
}

h1, .h1 {
  font-size: 30px;
  margin-bottom: 5px;
}

.item h2 {
  font-size: 20px;
  margin: 29px 0 2px 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #455A64;
}

.item-icon-right .icon-accessory {
  right: 40px;
}

.item-icon-left .icon-accessory, .item-icon-right .icon-accessory {
  color: #607D8B;
  font-size: 50px;
}

.button {
  padding: 30px;
}

.button.button-assertive {
  border-color: #CFD8DC;
  background-color: #CFD8DC;
}

.item {
  -webkit-transition: all 1s ease-out, opacity 1s;
  -moz-transition: all 1s ease-out, opacity 1s;
}

.moving {
  opacity: 0.25;
  z-index: 10;
}

.songTitle {
  overflow: visible;
  vertical-align: middle;
  width: 70%;
  margin-left: 15%;
}

.soundcloud-icon {
  display: inline-block;
  float: left;
  height: 19px;
  width: auto;
  margin-right: 10px;
}

.soundcloud {
  width: 200px;
  height: auto;
  vertical-align: middle;
  margin: 0 auto;
}